# HDB Resale Price Prediction

## Data Blending

### Import Libraries

In [1]:
# General
import math
import re
import numpy as np
import pandas as pd
from datetime import datetime
from tabulate import tabulate
from math import radians
from sklearn.metrics.pairwise import haversine_distances

# Warnings
import warnings
warnings.filterwarnings('ignore')

### Import HDB Dataset

In [2]:
# Importing Data
data_hdb_raw = pd.read_csv('../dataset/hdb_latest_raw.csv')
print(data_hdb_raw.shape)
data_hdb_raw.head()

(881924, 18)

,Unnamed: 0,town,flat_type,flat_model,floor_area_sqm,street_name,resale_price,month,lease_commence_date,storey_range,block,remaining_lease,address,full_address,lat,long,nearest_mrt,nearest_distance_to_mrt
0,0,ANG MO KIO,3 ROOM,Improved,69.0,ANG MO KIO AVE 4,147000.0,2000-01,1986,07 TO 09,170,85,170 ANG MO KIO AVE 4,170 ANG MO KIO AVENUE 4 KEBUN BARU LINK 1 SING...,1.374001,103.836432,mayflower,0.283
1,1,ANG MO KIO,3 ROOM,Improved,60.0,ANG MO KIO AVE 4,130000.0,2000-02,1986,07 TO 09,170,85,170 ANG MO KIO AVE 4,170 ANG MO KIO AVENUE 4 KEBUN BARU LINK 1 SING...,1.374001,103.836432,mayflower,0.283
2,2,ANG MO KIO,2 ROOM,Improved,45.0,ANG MO KIO AVE 4,105000.0,2000-03,1986,04 TO 06,170,85,170 ANG MO KIO AVE 4,170 ANG MO KIO AVENUE 4 KEBUN BARU LINK 1 SING...,1.374001,103.836432,mayflower,0.283
3,3,ANG MO KIO,2 ROOM,Improved,45.0,ANG MO KIO AVE 4,125000.0,2000-05,1986,04 TO 06,170,85,170 ANG MO KIO AVE 4,170 ANG MO KIO AVENUE 4 KEBUN BARU LINK 1 SING...,1.374001,103.836432,mayflower,0.283
4,4,ANG MO KIO,2 ROOM,Improved,45.0,ANG MO KIO AVE 4,117000.0,2000-06,1986,07 TO 09,170,85,170 ANG MO KIO AVE 4,170 ANG MO KIO AVENUE 4 KEBUN BARU LINK 1 SING...,1.374001,103.836432,mayflower,0.283

### Truncate Dataset

In [30]:
# Reduce to Last 15 Years i.e. 2009 onwards
data_hdb_last15 = data_hdb_raw
data_hdb_last15['month'] = pd.to_datetime(data_hdb_last15['month'])
data_hdb_last15 = data_hdb_last15[data_hdb_last15['month'].dt.year >= 2009]
data_hdb_last15.head()

,Unnamed: 0,town,flat_type,flat_model,floor_area_sqm,street_name,resale_price,month,lease_commence_date,storey_range,block,remaining_lease,address,full_address,lat,long,nearest_mrt,nearest_distance_to_mrt
77,77,ANG MO KIO,3 ROOM,Improved,61.0,ANG MO KIO AVE 4,200000.0,2009-03-01,1986,04 TO 06,170,76,170 ANG MO KIO AVE 4,170 ANG MO KIO AVENUE 4 KEBUN BARU LINK 1 SING...,1.374001,103.836432,mayflower,0.283
78,78,ANG MO KIO,3 ROOM,Improved,60.0,ANG MO KIO AVE 4,200000.0,2009-04-01,1986,04 TO 06,170,76,170 ANG MO KIO AVE 4,170 ANG MO KIO AVENUE 4 KEBUN BARU LINK 1 SING...,1.374001,103.836432,mayflower,0.283
79,79,ANG MO KIO,3 ROOM,Improved,69.0,ANG MO KIO AVE 4,224000.0,2009-06-01,1986,04 TO 06,170,76,170 ANG MO KIO AVE 4,170 ANG MO KIO AVENUE 4 KEBUN BARU LINK 1 SING...,1.374001,103.836432,mayflower,0.283
80,80,ANG MO KIO,2 ROOM,Improved,45.0,ANG MO KIO AVE 4,170000.0,2009-07-01,1986,07 TO 09,170,76,170 ANG MO KIO AVE 4,170 ANG MO KIO AVENUE 4 KEBUN BARU LINK 1 SING...,1.374001,103.836432,mayflower,0.283
81,81,ANG MO KIO,3 ROOM,Improved,61.0,ANG MO KIO AVE 4,193000.0,2009-07-01,1986,04 TO 06,170,76,170 ANG MO KIO AVE 4,170 ANG MO KIO AVENUE 4 KEBUN BARU LINK 1 SING...,1.374001,103.836432,mayflower,0.283

### Data Wrangling

In [4]:
# Understanding Data I
# No columns with null entries
data_hdb_last15.info()

<class 'pandas.core.frame.DataFrame'>
Index: 325970 entries, 77 to 602220
Data columns (total 18 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Unnamed: 0               325970 non-null  int64
 1   town                     325970 non-null  object
 2   flat_type                325970 non-null  object
 3   flat_model               325970 non-null  object
 4   floor_area_sqm           325970 non-null  float64
 5   street_name              325970 non-null  object
 6   resale_price             325970 non-null  float64
 7   month                    325970 non-null  datetime64[ns]
 8   lease_commence_date      325970 non-null  int64
 9   storey_range             325970 non-null  object
 10  block                    325970 non-null  object
 11  remaining_lease          325970 non-null  object
 12  address                  325970 non-null  object
 13  full_address             325970 non-null  object
 14  lat                      325970 non-null  float64
 15  long                     325970 non-null  float64
 16  nearest_mrt              325970 non-null  object
 17  nearest_distance_to_mrt  325970 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(2), object(10)
memory usage: 47.3+ MB

In [31]:
# Drop Unnamed First (Index) Column
data_hdb_last15 = data_hdb_last15.drop(data_hdb_last15.columns[0], axis = 1)

In [32]:
# Merge flat model with different names that refer to the same type
data_hdb_last15['flat_model'] = data_hdb_last15['flat_model'].str.replace('MODEL A','Model A')
data_hdb_last15['flat_model'] = data_hdb_last15['flat_model'].str.replace('IMPROVED','Improved')
data_hdb_last15['flat_model'] = data_hdb_last15['flat_model'].str.replace('NEW GENERATION','New Generation')
data_hdb_last15['flat_model'] = data_hdb_last15['flat_model'].str.replace('PREMIUM APARTMENT', 'Premium Apartment')
data_hdb_last15['flat_model'] = data_hdb_last15['flat_model'].str.replace('SIMPLIFIED','Simplified')
data_hdb_last15['flat_model'] = data_hdb_last15['flat_model'].str.replace('APARTMENT','Apartment')
data_hdb_last15['flat_model'] = data_hdb_last15['flat_model'].str.replace('STANDARD','Standard')
data_hdb_last15['flat_model'] = data_hdb_last15['flat_model'].str.replace('MAISONETTE','Maisonette')
data_hdb_last15['flat_model'] = data_hdb_last15['flat_model'].str.replace('2-ROOM', '2-room')
data_hdb_last15['flat_model'] = data_hdb_last15['flat_model'].str.replace('IMPROVED-MAISONETTE', 'Improved-Maisonette')
data_hdb_last15['flat_model'] = data_hdb_last15['flat_model'].str.replace('MODEL A-MAISONETTE', 'Model A-Maisonette')
data_hdb_last15['flat_model'] = data_hdb_last15['flat_model'].str.replace('MULTI GENERATION', 'Multi Generation')
data_hdb_last15['flat_model'] = data_hdb_last15['flat_model'].str.replace('TERRACE','Terrace')

In [33]:
# Finding out the different types of flat models for each flat type
grouped = data_hdb_last15.groupby('flat_type')['flat_model'].unique()
results = []

for flat_type, flat_models in grouped.items():
    results.append([flat_type, ', '.join(map(str, flat_models))])

print(tabulate(results, headers=["Flat Type", "Flat Models"], tablefmt="pretty"))

+------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------+
|    Flat Type     |                                                                     Flat Models                                                                     |
+------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------+
|      1 ROOM      |                                                                      Improved                                                                       |
|      2 ROOM      |                                            Improved, Standard, 2-room, Model A, Premium Apartment, DBSS                                             |
|      3 ROOM      |                              Improved, New Generation, Model A, Simplified, Standard, Terrace, Premium Apartment, DBSS                              |
|      4 ROOM      | New Generation, Model A, Adjoined flat, Improved, Simplified, Standard, Premium Apartment, Terrace, Model A2, DBSS, Type S1, Premium Apartment Loft |
|      5 ROOM      | Adjoined flat, Improved, Model A, Standard, Model A-Maisonette, Premium Apartment, Improved-Maisonette, DBSS, Type S2, Premium Apartment Loft, 3Gen |
|    EXECUTIVE     |                                     Adjoined flat, Maisonette, Apartment, Premium Apartment, Premium Maisonette                                     |
| MULTI-GENERATION |                                                                  Multi Generation                                                                   |
+------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------+

In [34]:
# Combining 'flat_type' and 'flat_model' to give a better representation of the flat's category
data_hdb_last15['flat_category'] = data_hdb_last15['flat_type'] + " " + data_hdb_last15['flat_model']

In [35]:
# Change lease_commence_date to dt
data_hdb_last15['lease_commence_date'] = pd.to_datetime(data_hdb_last15['lease_commence_date'], format='%Y')

In [36]:
## USE THE CELLS HERE ##
# Source : https://hecksrealty.com/singapore-district-guide/
data_hdb_last15['postal_code'] = data_hdb_last15['full_address'].str[-6:]

def determine_region(row):
    postal_sector = str(row['postal_code'])[:2]

    if postal_sector in ['53', '54', '55', '82', '56', '57', '72', '73', '77', '78', '75', '76', '79', '80']:
        return 'North'
    elif postal_sector in ['14', '15', '16', '09', '10']:
        return 'South'
    elif postal_sector in ['34', '36', '36', '37',  '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '81', '51', '52']:
        return 'East'
    elif postal_sector in ['11', '12', '13', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71']:
        return 'West'
    elif postal_sector in ['20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33']:
        return 'Central' 
    elif postal_sector in ['01', '02', '03', '04', '05', '06', '07', '08', '17', '18', '19']:
        return 'City'
    else:
        return 'Others'

    
data_hdb_last15['Region'] = data_hdb_last15.apply(determine_region, axis=1)

print(data_hdb_last15)

              town flat_type flat_model  floor_area_sqm       street_name  \
77      ANG MO KIO    3 ROOM   Improved            61.0  ANG MO KIO AVE 4
78      ANG MO KIO    3 ROOM   Improved            60.0  ANG MO KIO AVE 4
79      ANG MO KIO    3 ROOM   Improved            69.0  ANG MO KIO AVE 4
80      ANG MO KIO    2 ROOM   Improved            45.0  ANG MO KIO AVE 4
81      ANG MO KIO    3 ROOM   Improved            61.0  ANG MO KIO AVE 4
...            ...       ...        ...             ...               ...
602216      YISHUN    2 ROOM    Model A            38.0      YISHUN AVE 4
602217      YISHUN    4 ROOM    Model A            93.0      YISHUN AVE 4
602218      YISHUN    3 ROOM    Model A            68.0      YISHUN AVE 4
602219      YISHUN    5 ROOM   Improved           112.0      YISHUN AVE 4
602220      YISHUN    5 ROOM   Improved           112.0      YISHUN AVE 4

        resale_price      month lease_commence_date storey_range block  \
77          200000.0 2009-03-01          1986-01-01     04 TO 06   170
78          200000.0 2009-04-01          1986-01-01     04 TO 06   170
79          224000.0 2009-06-01          1986-01-01     04 TO 06   170
80          170000.0 2009-07-01          1986-01-01     07 TO 09   170
81          193000.0 2009-07-01          1986-01-01     04 TO 06   170
...              ...        ...                 ...          ...   ...
602216      335000.0 2023-01-01          2018-01-01     07 TO 09  675A
602217      540000.0 2023-01-01          2018-01-01     04 TO 06  675A
602218      450000.0 2023-01-01          2018-01-01     10 TO 12  673C
602219      690000.0 2023-01-01          2018-01-01     07 TO 09  673C
602220      690000.0 2023-01-01          2018-01-01     10 TO 12  674B

           remaining_lease               address  \
77                      76  170 ANG MO KIO AVE 4
78                      76  170 ANG MO KIO AVE 4
79                      76  170 ANG MO KIO AVE 4
80                      76  170 ANG MO KIO AVE 4
81                      76  170 ANG MO KIO AVE 4
...                    ...                   ...
602216  94 years 11 months     675A YISHUN AVE 4
602217  94 years 11 months     675A YISHUN AVE 4
602218  94 years 11 months     673C YISHUN AVE 4
602219  94 years 11 months     673C YISHUN AVE 4
602220  94 years 10 months     674B YISHUN AVE 4

                                             full_address       lat  \
77      170 ANG MO KIO AVENUE 4 KEBUN BARU LINK 1 SING...  1.374001
78      170 ANG MO KIO AVENUE 4 KEBUN BARU LINK 1 SING...  1.374001
79      170 ANG MO KIO AVENUE 4 KEBUN BARU LINK 1 SING...  1.374001
80      170 ANG MO KIO AVENUE 4 KEBUN BARU LINK 1 SING...  1.374001
81      170 ANG MO KIO AVENUE 4 KEBUN BARU LINK 1 SING...  1.374001
...                                                   ...       ...
602216  675A YISHUN AVENUE 4 FERN GROVE @ YISHUN SINGA...  1.419458
602217  675A YISHUN AVENUE 4 FERN GROVE @ YISHUN SINGA...  1.419458
602218  673C YISHUN AVENUE 4 FERN GROVE @ YISHUN SINGA...  1.421049
602219  673C YISHUN AVENUE 4 FERN GROVE @ YISHUN SINGA...  1.421049
602220  674B YISHUN AVENUE 4 FERN GROVE @ YISHUN SINGA...  1.421073

              long nearest_mrt  nearest_distance_to_mrt    flat_category  \
77      103.836432   mayflower                    0.283  3 ROOM Improved
78      103.836432   mayflower                    0.283  3 ROOM Improved
79      103.836432   mayflower                    0.283  3 ROOM Improved
80      103.836432   mayflower                    0.283  2 ROOM Improved
81      103.836432   mayflower                    0.283  3 ROOM Improved
...            ...         ...                      ...              ...
602216  103.843092      khatib                    1.147   2 ROOM Model A
602217  103.843092      khatib                    1.147   4 ROOM Model A
602218  103.842207      khatib                    1.104   3 ROOM Model A
602219  103.842207      khatib                    1.104  5 ROOM Improved
602220  103.843117      khatib                    1.199  5 ROOM Improved

       postal_code Region
77          560170  North
78          560170  North
79          560170  North
80          560170  North
81          560170  North
...            ...    ...
602216      761675  North
602217      761675  North
602218      763673  North
602219      763673  North
602220      762674  North

[325970 rows x 20 columns]

In [11]:
# Check Updated HDB Dataset
data_hdb_last15.info()

<class 'pandas.core.frame.DataFrame'>
Index: 325970 entries, 77 to 602220
Data columns (total 20 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   town                     325970 non-null  object
 1   flat_type                325970 non-null  object
 2   flat_model               325970 non-null  object
 3   floor_area_sqm           325970 non-null  float64
 4   street_name              325970 non-null  object
 5   resale_price             325970 non-null  float64
 6   month                    325970 non-null  datetime64[ns]
 7   lease_commence_date      325970 non-null  datetime64[ns]
 8   storey_range             325970 non-null  object
 9   block                    325970 non-null  object
 10  remaining_lease          325970 non-null  object
 11  address                  325970 non-null  object
 12  full_address             325970 non-null  object
 13  lat                      325970 non-null  float64
 14  long                     325970 non-null  float64
 15  nearest_mrt              325970 non-null  object
 16  nearest_distance_to_mrt  325970 non-null  float64
 17  flat_category            325970 non-null  object
 18  postal_code              325970 non-null  object
 19  Region                   325970 non-null  object
dtypes: datetime64[ns](2), float64(5), object(13)
memory usage: 52.2+ MB

In [12]:
# Unique street_names
print(data_hdb_last15['street_name'].nunique())
data_hdb_last15['street_name'].unique()

566

array(['ANG MO KIO AVE 4', 'ANG MO KIO AVE 1', 'ANG MO KIO AVE 10',
       'ANG MO KIO AVE 3', 'BEDOK NTH RD', 'ANG MO KIO AVE 5',
       'ANG MO KIO AVE 6', 'ANG MO KIO AVE 8', 'ANG MO KIO AVE 9',
       'ANG MO KIO AVE 2', 'ANG MO KIO ST 21', 'ANG MO KIO ST 31',
       'ANG MO KIO ST 11', 'BEDOK RESERVOIR RD', 'BEDOK NTH ST 3',
       'BEDOK STH AVE 1', 'BEDOK STH RD', 'CHAI CHEE AVE',
       'NEW UPP CHANGI RD', 'CHAI CHEE DR', 'CHAI CHEE RD',
       'BEDOK NTH AVE 1', 'BEDOK NTH AVE 2', 'BEDOK NTH AVE 3',
       'BEDOK NTH AVE 4', 'BEDOK NTH ST 1', 'BEDOK NTH ST 2',
       'BEDOK NTH ST 4', 'BEDOK STH AVE 2', 'BEDOK STH AVE 3',
       'CHAI CHEE ST', 'LENGKONG TIGA', 'JLN TENAGA', 'SIN MING RD',
       'SHUNFU RD', 'BISHAN ST 11', 'BISHAN ST 12', 'BISHAN ST 13',
       'SIN MING AVE', 'BISHAN ST 22', 'BISHAN ST 23', 'BISHAN ST 24',
       'BRIGHT HILL DR', 'BT BATOK ST 51', 'BT BATOK ST 52',
       'BT BATOK ST 11', 'BT BATOK ST 21', 'BT BATOK ST 34',
       'BT BATOK WEST AVE 4', 'BT BATOK WEST AVE 8',
       'BT BATOK EAST AVE 4', 'BT BATOK EAST AVE 5', 'BT BATOK ST 31',
       'BT BATOK ST 32', 'BT BATOK ST 33', 'BT BATOK WEST AVE 6',
       'BT BATOK EAST AVE 3', 'BT BATOK CTRL', 'BT BATOK WEST AVE 2',
       'TELOK BLANGAH CRES', 'HOY FATT RD', 'BT MERAH VIEW',
       'JLN BT MERAH', 'KIM TIAN RD', 'CIRCUIT RD', 'TELOK BLANGAH DR',
       'TELOK BLANGAH RISE', 'TELOK BLANGAH WAY', 'BT PURMEI RD',
       'TELOK BLANGAH HTS', 'BEO CRES', 'HAVELOCK RD', 'JLN BT HO SWEE',
       'JLN KLINIK', 'REDHILL CL', 'HENDERSON CRES', 'BT MERAH CTRL',
       'DELTA AVE', 'EVERTON PK', 'KIM TIAN PL', 'DEPOT RD',
       'SPOTTISWOODE PK RD', 'GANGSA RD', 'PENDING RD', 'PETIR RD',
       'BANGKIT RD', 'BT PANJANG RING RD', 'FAJAR RD', 'SAUJANA RD',
       'EMPRESS RD', "QUEEN'S RD", 'TOH YI DR', 'JLN KUKOH',
       'KELANTAN RD', 'SAGO LANE', 'TG PAGAR PLAZA', 'CHANDER RD',
       'ROWELL RD', 'VEERASAMY RD', 'QUEEN ST', 'KRETA AYER RD',
       'TECK WHYE AVE', 'TECK WHYE LANE', 'CHOA CHU KANG AVE 1',
       'CHOA CHU KANG AVE 2', 'CHOA CHU KANG AVE 3',
       'CHOA CHU KANG AVE 4', 'CHOA CHU KANG CTRL', 'CHOA CHU KANG NTH 7',
       'CHOA CHU KANG ST 51', 'CHOA CHU KANG ST 52',
       'CHOA CHU KANG ST 53', 'CHOA CHU KANG ST 62',
       'CHOA CHU KANG NTH 5', 'CLEMENTI AVE 2', 'CHOA CHU KANG NTH 6',
       'CLEMENTI WEST ST 1', 'CLEMENTI AVE 3', 'CLEMENTI AVE 4',
       'CLEMENTI AVE 5', 'CLEMENTI WEST ST 2', 'WEST COAST DR',
       'WEST COAST RD', 'CLEMENTI ST 13', 'CLEMENTI AVE 6',
       'ALJUNIED CRES', 'EUNOS CRES', 'HAIG RD', 'PAYA LEBAR WAY',
       'SIMS DR', 'SIMS PL', 'DAKOTA CRES', 'GEYLANG EAST AVE 1',
       'PINE CL', 'UBI AVE 1', 'BALAM RD', 'MACPHERSON LANE',
       'ALJUNIED RD', 'GEYLANG EAST CTRL', 'EUNOS RD 5', 'HOUGANG AVE 3',
       'HOUGANG AVE 8', 'HOUGANG AVE 4', 'HOUGANG AVE 5', 'HOUGANG AVE 1',
       'HOUGANG AVE 10', 'HOUGANG AVE 7', 'HOUGANG ST 51',
       'HOUGANG ST 52', 'HOUGANG ST 61', 'LOR AH SOO', 'HOUGANG AVE 2',
       'HOUGANG ST 11', 'HOUGANG ST 22', 'HOUGANG AVE 6', 'HOUGANG CTRL',
       'HOUGANG ST 21', 'TEBAN GDNS RD', 'JURONG EAST ST 32',
       'JURONG EAST ST 13', 'JURONG EAST ST 21', 'JURONG EAST ST 24',
       'JURONG EAST AVE 1', 'PANDAN GDNS', 'JURONG EAST ST 31',
       'YISHUN AVE 2', 'BOON LAY AVE', 'BOON LAY PL', 'HO CHING RD',
       'JURONG WEST AVE 1', 'JURONG WEST ST 41', 'JURONG WEST ST 42',
       'JURONG WEST ST 52', 'JURONG WEST ST 91', 'JURONG WEST ST 92',
       'BOON LAY DR', 'JURONG WEST AVE 5', 'JURONG WEST ST 71',
       'JURONG WEST ST 72', 'JURONG WEST ST 73', 'JURONG WEST ST 74',
       'JURONG WEST ST 75', 'JURONG WEST ST 81', 'YUNG AN RD', 'JLN BATU',
       'BEACH RD', 'BENDEMEER RD', 'CRAWFORD LANE', 'GEYLANG BAHRU',
       'KALLANG BAHRU', 'LOR LIMAU', "ST. GEORGE'S RD",
       'UPP BOON KENG RD', 'WHAMPOA DR', 'WHAMPOA WEST', 'GLOUCESTER RD',
       'JLN BAHAGIA', 'LOR 3 GEYLANG', 'RACE COURSE RD', 'TOWNER RD',
       'JLN RAJAH', 'KENT RD', "ST. GEORGE'S LANE", 'AH HOOD RD',
       "KING GEORGE'S AVE", 'MCNAIR RD', 'WHAMPOA RD', 'MARINE TER',
       'MARINE CRES', 'MARINE DR', 'ELIAS RD', 'PASIR RIS DR 1',
       'PASIR RIS DR 3', 'PASIR RIS DR 4', 'PASIR RIS DR 6',
       'PASIR RIS ST 11', 'PASIR RIS ST 12', 'PASIR RIS ST 21',
       'PASIR RIS ST 52', 'PASIR RIS ST 53', 'PASIR RIS ST 71',
       'PASIR RIS DR 10', 'PASIR RIS ST 13', 'PASIR RIS ST 51',
       'PASIR RIS ST 72', 'PASIR RIS ST 41', "C'WEALTH CL", "C'WEALTH DR",
       'TANGLIN HALT RD', 'DOVER CRES', 'GHIM MOH RD', 'HOLLAND AVE',
       'HOLLAND CL', 'HOLLAND DR', 'MEI LING ST', 'STIRLING RD',
       "C'WEALTH CRES", 'CLARENCE LANE', 'STRATHMORE AVE',
       'DOVER CL EAST', 'LOR LEW LIAN', 'SERANGOON AVE 2',
       'SERANGOON NTH AVE 1', 'SERANGOON AVE 4', 'SERANGOON CTRL',
       'SERANGOON AVE 1', 'SERANGOON NTH AVE 4', 'SERANGOON AVE 3',
       'SERANGOON NTH AVE 2', 'TAMPINES ST 41', 'TAMPINES AVE 4',
       'TAMPINES ST 11', 'TAMPINES ST 12', 'TAMPINES ST 21',
       'TAMPINES ST 22', 'TAMPINES ST 23', 'TAMPINES ST 24',
       'TAMPINES ST 42', 'TAMPINES ST 44', 'TAMPINES ST 82',
       'TAMPINES ST 83', 'TAMPINES ST 84', 'TAMPINES ST 91',
       'TAMPINES ST 81', 'SIMEI RD', 'SIMEI ST 1', 'SIMEI ST 4',
       'TAMPINES AVE 5', 'TAMPINES AVE 8', 'TAMPINES AVE 9',
       'TAMPINES CTRL 1', 'TAMPINES ST 33', 'TAMPINES ST 34',
       'TAMPINES ST 45', 'SIMEI ST 2', 'TAMPINES AVE 7', 'TAMPINES ST 32',
       'TAMPINES ST 43', 'LOR 2 TOA PAYOH', 'KIM KEAT AVE',
       'LOR 1 TOA PAYOH', 'LOR 3 TOA PAYOH', 'LOR 4 TOA PAYOH',
       'LOR 5 TOA PAYOH', 'LOR 7 TOA PAYOH', 'LOR 8 TOA PAYOH',
       'TOA PAYOH EAST', 'TOA PAYOH NTH', 'POTONG PASIR AVE 1',
       'POTONG PASIR AVE 2', 'LOR 6 TOA PAYOH', 'UPP ALJUNIED LANE',
       'TOA PAYOH CTRL', 'JOO SENG RD', 'KIM KEAT LINK',
       'POTONG PASIR AVE 3', 'MARSILING DR', 'MARSILING LANE',
       'WOODLANDS ST 13', 'WOODLANDS ST 31', 'WOODLANDS AVE 1',
       'WOODLANDS ST 41', 'MARSILING RISE', 'WOODLANDS AVE 4',
       'WOODLANDS ST 81', 'WOODLANDS ST 82', 'WOODLANDS ST 83',
       'WOODLANDS ST 11', 'WOODLANDS ST 32', 'WOODLANDS AVE 9',
       'MARSILING RD', 'YISHUN AVE 11', 'YISHUN AVE 6', 'YISHUN CTRL',
       'YISHUN RING RD', 'YISHUN ST 11', 'YISHUN ST 22', 'YISHUN ST 61',
       'YISHUN ST 81', 'YISHUN AVE 5', 'YISHUN ST 21', 'YISHUN AVE 3',
       'YISHUN AVE 4', 'YISHUN ST 71', 'YISHUN AVE 7', 'YISHUN AVE 9',
       'YISHUN CTRL 1', 'YISHUN ST 72', 'SILAT AVE', 'TAMAN HO SWEE',
       'LENGKOK BAHRU', 'ZION RD', 'JLN RUMAH TINGGI', 'CASHEW RD',
       'NEW MKT RD', 'SELEGIE RD', 'BAIN ST', 'CHOA CHU KANG LOOP',
       "C'WEALTH AVE WEST", 'CASSIA CRES', 'OLD AIRPORT RD',
       'UPP SERANGOON RD', 'JURONG WEST ST 93', 'YUNG HO RD',
       'YUNG PING RD', 'OWEN RD', "JLN MA'MOR", 'WHAMPOA STH',
       'CAMBRIDGE RD', 'DORSET RD', "QUEEN'S CL", "C'WEALTH AVE",
       'SERANGOON CTRL DR', 'MARSILING CRES', 'WOODLANDS AVE 3',
       'JLN DAMAI', 'INDUS RD', 'TIONG BAHRU RD', 'FARRER RD',
       'UPP CROSS ST', 'WATERLOO ST', 'ROCHOR RD', 'BUFFALO RD',
       'CLEMENTI ST 14', 'JOO CHIAT RD', 'JLN DUA', 'PIPIT RD',
       'YUNG LOH RD', 'NTH BRIDGE RD', 'BOON KENG RD', 'TESSENSOHN RD',
       'DOVER RD', 'CHIN SWEE RD', 'JLN BERSEH', 'CHOA CHU KANG DR',
       'CHOA CHU KANG ST 54', 'KG KAYU RD', 'QUEENSWAY',
       'BT BATOK WEST AVE 7', 'REDHILL LANE', 'JURONG WEST ST 51',
       'FRENCH RD', 'LIM LIAK ST', 'SIMS AVE', 'KANG CHING RD',
       'TAH CHING RD', 'KG ARANG RD', 'JLN DUSUN', 'SIMEI ST 5',
       'WOODLANDS AVE 5', 'WOODLANDS DR 50', 'EAST COAST RD',
       'KIM PONG RD', 'TAO CHING RD', 'MOULMEIN RD', 'WOODLANDS DR 40',
       'BT MERAH LANE 1', 'MOH GUAN TER', 'SMITH ST', 'WOODLANDS DR 70',
       'KIM CHENG ST', 'TAMPINES ST 71', 'WOODLANDS DR 42',
       'JLN TENTERAM', 'SERANGOON NTH AVE 3', 'JELAPANG RD',
       'BT BATOK ST 22', 'HOUGANG ST 91', 'WOODLANDS AVE 6',
       'TAMPINES ST 72', 'WOODLANDS CIRCLE', 'CORPORATION DR',
       'LOMPANG RD', 'WOODLANDS DR 72', 'SENG POH RD',
       'CHOA CHU KANG ST 64', 'BT BATOK ST 24', 'JLN TECK WHYE',
       'WOODLANDS CRES', 'WOODLANDS DR 60', 'CHANGI VILLAGE RD',
       'BT BATOK ST 25', 'HOUGANG AVE 9', 'JURONG WEST CTRL 1',
       'WOODLANDS RING RD', 'CHOA CHU KANG AVE 5', 'TOH GUAN RD',
       'JURONG WEST ST 61', 'WOODLANDS DR 14', 'HOUGANG ST 92',
       'CHOA CHU KANG CRES', 'SEMBAWANG CL', 'CANBERRA RD',
       'SEMBAWANG CRES', 'SEMBAWANG VISTA', 'COMPASSVALE WALK',
       'RIVERVALE ST', 'WOODLANDS DR 62', 'SEMBAWANG DR',
       'WOODLANDS DR 53', 'WOODLANDS DR 52', 'RIVERVALE WALK',
       'COMPASSVALE LANE', 'RIVERVALE DR', 'SENJA RD',
       'JURONG WEST ST 65', 'RIVERVALE CRES', 'WOODLANDS DR 44',
       'COMPASSVALE DR', 'WOODLANDS DR 16', 'COMPASSVALE RD',
       'WOODLANDS DR 73', 'HOUGANG ST 31', 'JURONG WEST ST 64',
       'GEYLANG EAST AVE 2', 'WOODLANDS DR 71', 'YISHUN ST 20',
       'ADMIRALTY DR', 'COMPASSVALE ST', 'BEDOK RESERVOIR VIEW',
       'ADMIRALTY LINK', 'YUNG SHENG RD', 'SENGKANG EAST WAY',
       'ANG MO KIO ST 32', 'ANG MO KIO ST 52', 'BOON TIONG RD',
       'JURONG WEST ST 62', 'ANCHORVALE LINK', 'CANBERRA LINK',
       'COMPASSVALE CRES', 'CLEMENTI ST 12', 'MONTREAL DR',
       'WELLINGTON CIRCLE', 'SENGKANG EAST RD', 'JURONG WEST AVE 3',
       'ANCHORVALE LANE', 'REDHILL RD', 'SENJA LINK', 'EDGEFIELD PLAINS',
       'ANCHORVALE DR', 'SEGAR RD', 'FARRER PK RD', 'PUNGGOL FIELD',
       'EDGEDALE PLAINS', 'ANCHORVALE RD', 'CANTONMENT CL', 'JLN MEMBINA',
       'FERNVALE LANE', 'JURONG WEST ST 25', 'CLEMENTI ST 11',
       'PUNGGOL FIELD WALK', 'KLANG LANE', 'PUNGGOL CTRL', 'JELEBU RD',
       'BUANGKOK CRES', 'WOODLANDS DR 75', 'BT BATOK WEST AVE 5',
       'JELLICOE RD', 'PUNGGOL DR', 'JURONG WEST ST 24', 'SEMBAWANG WAY',
       'FERNVALE RD', 'BUANGKOK LINK', 'FERNVALE LINK', 'JLN TIGA',
       'YUAN CHING RD', 'COMPASSVALE LINK', 'LOWER DELTA RD',
       'MARINE PARADE CTRL', 'COMPASSVALE BOW', 'PUNGGOL RD',
       'BEDOK CTRL', 'PUNGGOL EAST', 'SENGKANG CTRL', 'TAMPINES CTRL 7',
       'SENGKANG WEST AVE', 'PUNGGOL PL', 'CANTONMENT RD',
       'GEYLANG SERAI', 'GHIM MOH LINK', 'SIMEI LANE', 'CLEMENTI AVE 1',
       'YISHUN ST 41', 'TELOK BLANGAH ST 31', 'JLN KAYU', 'PUNGGOL WALK',
       'LOR 1A TOA PAYOH', 'SENGKANG WEST WAY', 'BUANGKOK GREEN',
       'PUNGGOL WAY', 'YISHUN ST 31', 'TECK WHYE CRES', 'MONTREAL LINK',
       'UPP SERANGOON CRES', 'SUMANG LINK', 'SENGKANG EAST AVE',
       'YISHUN AVE 1', 'ANCHORVALE CRES', 'YUNG KUANG RD',
       'ANCHORVALE ST', 'TAMPINES CTRL 8', 'YISHUN ST 51',
       'UPP SERANGOON VIEW', 'TAMPINES AVE 1', 'BEDOK RESERVOIR CRES',
       'ANG MO KIO ST 61', 'DAWSON RD', 'FERNVALE ST', 'HOUGANG ST 32',
       'TAMPINES ST 86', 'HENDERSON RD', 'SUMANG WALK',
       'CHOA CHU KANG AVE 7', 'KEAT HONG CL', 'JURONG WEST CTRL 3',
       'KEAT HONG LINK', 'ALJUNIED AVE 2', 'CANBERRA CRES', 'SUMANG LANE',
       'CANBERRA ST', 'ANG MO KIO ST 44', 'WOODLANDS RISE',
       'CANBERRA WALK', 'ANG MO KIO ST 51', 'BT BATOK EAST AVE 6',
       'BT BATOK WEST AVE 9'], dtype=object)

The dataset has 566 unique street names. By grouping the HDB units by street name to calculate the average coordinate of hdb units in the street, we can significantly cut down the time required to calculate the number of POIs within a certain radius of that average coordinate.

In [13]:
# getting average coordinates of each street name
street_avg_coords = data_hdb_last15.groupby('street_name').agg({'long': 'mean', 'lat': 'mean'}).reset_index()
street_avg_coords.columns = ['street_name', 'avg_long', 'avg_lat']

#ave_coord_df = pd.merge(data_hdb_last15, street_avg_coords, on='street_name', how='left')
#ave_coord_df
street_avg_coords

        street_name    avg_long   avg_lat
0      ADMIRALTY DR  103.815851  1.450018
1    ADMIRALTY LINK  103.816254  1.455540
2        AH HOOD RD  103.844667  1.327701
3    ALJUNIED AVE 2  103.886335  1.319203
4     ALJUNIED CRES  103.884427  1.320423
..              ...         ...       ...
561   YUNG KUANG RD  103.721629  1.331872
562     YUNG LOH RD  103.722128  1.328313
563    YUNG PING RD  103.722079  1.329695
564   YUNG SHENG RD  103.721681  1.333492
565         ZION RD  103.832608  1.290660

[566 rows x 3 columns]

### Import POI Dataset

In [14]:
# Importing Data
data_poi_raw = pd.read_csv('../dataset/points_of_interest.csv')
data_poi_raw

,Unnamed: 0,place_id,name,lat,lng,rating,user_ratings_total,price_level,formatted_address,global_code,...,train_station,natural_feature,subpremise,SUBZONE_NO,SUBZONE_N,SUBZONE_C,PLN_AREA_N,PLN_AREA_C,REGION_N,REGION_C
0,0,ChIJ01fgzLUe2jERxlhvImcbZ7g,Quayside Isle,1.247681,103.842072,4.3,568.0,NaN,"31 Ocean Way, Singapore 098375",6PH56RXR+3R,...,False,False,False,1.0,SENTOSA,SISZ01,SOUTHERN ISLANDS,SI,CENTRAL REGION,CR
1,1,ChIJ1S4qfY8Q2jERgb68gskzUbo,Sime Darby Centre,1.336644,103.783597,3.7,437.0,NaN,"896 Dunearn Rd, Singapore 589472",6PH58QPM+MC,...,False,False,False,2.0,SWISS CLUB,BTSZ02,BUKIT TIMAH,BT,CENTRAL REGION,CR
2,2,ChIJ1ZAIkrwZ2jERxtZGC1JnrHM,PoMo,1.300192,103.849220,3.8,1285.0,NaN,"1 Selegie Rd, Singapore 188306",6PH58R2X+3M,...,False,False,False,8.0,SELEGIE,RCSZ08,ROCHOR,RC,CENTRAL REGION,CR
3,3,ChIJ1ZYJOiAZ2jER1mvQqHstQII,LR boulangerie,1.293178,103.827194,4.3,12.0,NaN,"491 River Valley Rd, #01-02 valley point shopp...",6PH57RVG+7V,...,False,False,False,2.0,CHATSWORTH,TNSZ02,TANGLIN,TN,CENTRAL REGION,CR
4,4,ChIJ2Y1DYBI92jERlFUKKSznJrY,Tampines Hub,1.353108,103.940361,4.6,227.0,NaN,"1 Tampines Walk, Singapore 528523",6PH59W3R+64,...,False,False,False,3.0,TAMPINES WEST,TMSZ03,TAMPINES,TM,EAST REGION,ER
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8667,8667,ChIJic0FbG4T2jERlg__g9KNSUU,Old Chang Kee (Head Office),1.450192,103.805305,4.3,25.0,1.0,"2 Woodlands Terrace, Singapore",6PH5FR24+34,...,False,False,False,9.0,SENOKO SOUTH,SBSZ09,SEMBAWANG,SB,NORTH REGION,NR
8668,8668,ChIJ7cjSMX0T2jERGYqGQog7A2E,Old Chang Kee @ Sun Plaza,1.448144,103.819983,3.4,10.0,1.0,"30 Sembawang Dr, #B1-44 Sun Plaza, Singapore",6PH5CRX9+7X,...,False,False,False,3.0,SEMBAWANG CENTRAL,SBSZ03,SEMBAWANG,SB,NORTH REGION,NR
8669,8669,ChIJxXwRE24T2jERDGyVjkkHTTs,Old Chang Kee Bldg,1.449830,103.805229,4.0,2.0,NaN,Singapore,6PH5CRX4+W3,...,False,False,False,9.0,SENOKO SOUTH,SBSZ09,SEMBAWANG,SB,NORTH REGION,NR
8670,8670,ChIJmQOMh1AT2jERs_1tteD7eTg,Old Chang Kee Coldstore,1.468055,103.812869,0.0,0.0,NaN,"20 Senoko Way, Singapore",6PH5FR97+64,...,False,False,False,8.0,SENOKO NORTH,SBSZ08,SEMBAWANG,SB,NORTH REGION,NR
8671,8671,ChIJkYvJbm4T2jERIfS4wTtaBZg,Ten & Han Trading Pte Ltd,1.450047,103.805526,3.0,1.0,NaN,"2 Woodlands Terrace, Singapore",6PH5FR24+26,...,False,False,False,9.0,SENOKO SOUTH,SBSZ09,SEMBAWANG,SB,NORTH REGION,NR

In [15]:
# Understanding Data II
data_poi_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8672 entries, 0 to 8671
Columns: 125 entries, Unnamed: 0 to REGION_C
dtypes: bool(105), float64(6), int64(1), object(13)
memory usage: 2.2+ MB

In [16]:
# Understanding Data III
for i in range(len(data_poi_raw.columns)):
    print(data_poi_raw.columns[i])

Unnamed: 0
place_id
name
lat
lng
rating
user_ratings_total
price_level
formatted_address
global_code
compound_code
planning_area
brand
establishment
point_of_interest
store
food
health
restaurant
hospital
lodging
finance
cafe
convenience_store
clothing_store
atm
shopping_mall
grocery_or_supermarket
home_goods_store
school
bakery
beauty_salon
transit_station
place_of_worship
pharmacy
meal_takeaway
furniture_store
tourist_attraction
secondary_school
supermarket
doctor
shoe_store
dentist
jewelry_store
church
bank
primary_school
electronics_store
gym
spa
car_repair
pet_store
bus_station
university
park
general_contractor
subway_station
real_estate_agency
florist
hair_care
department_store
hardware_store
car_dealer
veterinary_care
travel_agency
bicycle_store
book_store
laundry
plumber
meal_delivery
lawyer
parking
mosque
physiotherapist
art_gallery
insurance_agency
bar
museum
storage
movie_theater
moving_company
liquor_store
gas_station
electrician
car_rental
locksmith
car_wash
post_office
embassy
night_club
fire_station
amusement_park
library
hindu_temple
local_government_office
funeral_home
bowling_alley
cemetery
aquarium
roofing_contractor
stadium
painter
courthouse
drugstore
campground
accounting
airport
zoo
casino
synagogue
premise
taxi_stand
police
light_rail_station
city_hall
train_station
natural_feature
subpremise
SUBZONE_NO
SUBZONE_N
SUBZONE_C
PLN_AREA_N
PLN_AREA_C
REGION_N
REGION_C

In [19]:
# Retain POI types related to health, recreational areas and schools
columns_to_keep = ['name', 'rating', 'lat', 'lng', 'hospital', 'doctor', 'dentist', 'park', 'shopping_mall', 'amusement_park', 'zoo', 'library',
                   'school', 'primary_school', 'secondary_school', 'university']

data_poi_filtered = data_poi_raw[columns_to_keep]

# Drop rows where all selected POI types are False
data_poi_filtered = data_poi_filtered[data_poi_filtered.iloc[:, 3:].any(axis=1)]

# Create new columns for POI archetypes
data_poi_filtered['Healthcare'] = data_poi_filtered[['hospital', 'doctor', 'dentist']].any(axis=1)
data_poi_filtered['Recreational'] = data_poi_filtered[['park', 'shopping_mall', 'amusement_park', 'zoo', 'library']].any(axis=1)
data_poi_filtered['Education'] = data_poi_filtered[['school', 'primary_school', 'secondary_school', 'university']].any(axis=1)

data_poi_filtered = data_poi_filtered[['name', 'rating', 'lat', 'lng', 'Healthcare', 'Recreational', 'Education']]

data_poi_filtered

,name,rating,lat,lng,Healthcare,Recreational,Education
0,Quayside Isle,4.3,1.247681,103.842072,False,True,False
1,Sime Darby Centre,3.7,1.336644,103.783597,False,True,False
2,PoMo,3.8,1.300192,103.849220,False,True,False
3,LR boulangerie,4.3,1.293178,103.827194,False,False,False
4,Tampines Hub,4.6,1.353108,103.940361,False,True,False
...,...,...,...,...,...,...,...
8667,Old Chang Kee (Head Office),4.3,1.450192,103.805305,False,False,False
8668,Old Chang Kee @ Sun Plaza,3.4,1.448144,103.819983,False,False,False
8669,Old Chang Kee Bldg,4.0,1.449830,103.805229,False,False,False
8670,Old Chang Kee Coldstore,0.0,1.468055,103.812869,False,False,False
8671,Ten & Han Trading Pte Ltd,3.0,1.450047,103.805526,False,False,False

### Merge Datasets

In [25]:
# Function to calculate Haversine distance between two points
def haversine_distance(lng1, lat1, lng2, lat2):
    lng1, lat1, lng2, lat2 = map(radians, [lng1, lat1, lng2, lat2])
    distances = haversine_distances([[lat1, lng1], [lat2, lng2]])
    return distances[1, 0] * 6371.0  # multiply by Earth radius to get km

# Function to count POIs and return average rating of a certain type within a specified radius from given long and lat
def count_pois_within_radius(hdb_lng, hdb_lat, poi_data, poi_type, radius):
    count = 0
    total_rating = 0;
    for index, poi in data_poi_filtered.iterrows():
        poi_lng = poi['lng']
        poi_lat = poi['lat']
        distance = haversine_distance(hdb_lng, hdb_lat, poi_lng, poi_lat)
        if distance <= radius and poi[poi_type] == True:
            count += 1
            total_rating += poi['rating']

    if(count == 0):
        average_rating = 0
    else:
        average_rating = total_rating / count
        
    return count, average_rating

In [23]:
# To test below function with a smaller subset of data
hdb_resale_data = data_hdb_last15.sample(n = 10)
hdb_resale_data

,town,flat_type,flat_model,floor_area_sqm,street_name,resale_price,month,lease_commence_date,storey_range,block,remaining_lease,address,full_address,lat,long,nearest_mrt,nearest_distance_to_mrt,flat_category,postal_code,Region
486248,JURONG WEST,4 ROOM,Model A2,85.0,JURONG WEST ST 64,331800.0,2009-03-01,2000-01-01,07 TO 09,668B,90,668B JURONG WEST ST 64,668B JURONG WEST STREET 64 SINGAPORE 642668,1.341928,103.703386,boon lay,0.475,4 ROOM Model A2,642668,West
10225,ANG MO KIO,3 ROOM,New Generation,89.0,ANG MO KIO AVE 10,380000.0,2015-10-01,1979-01-01,04 TO 06,416,62,416 ANG MO KIO AVE 10,416 ANG MO KIO AVENUE 10 TECK GHEE HEARTLANDS ...,1.364542,103.855104,ang mo kio,0.860,3 ROOM New Generation,560416,North
176935,CLEMENTI,5 ROOM,Improved,118.0,CLEMENTI WEST ST 2,670000.0,2021-04-01,1981-01-01,16 TO 18,724,58 years 09 months,724 CLEMENTI WEST ST 2,724 CLEMENTI WEST STREET 2 SINGAPORE 120724,1.303609,103.763359,clementi,1.296,5 ROOM Improved,120724,West
285342,ANG MO KIO,5 ROOM,Improved,117.0,ANG MO KIO AVE 4,420000.0,2009-11-01,1978-01-01,04 TO 06,111,68,111 ANG MO KIO AVE 4,111 ANG MO KIO AVENUE 4 KEBUN BARU NEIGHBOURHO...,1.370816,103.836984,mayflower,0.086,5 ROOM Improved,560111,North
561239,JURONG WEST,5 ROOM,Premium Apartment,110.0,JURONG WEST ST 93,448000.0,2019-04-01,2008-01-01,04 TO 06,988A,88 years 04 months,988A JURONG WEST ST 93,988A JURONG WEST STREET 93 SINGAPORE 641988,1.336487,103.695615,pioneer,0.226,5 ROOM Premium Apartment,641988,West
399890,WOODLANDS,4 ROOM,Model A,100.0,WOODLANDS DR 40,292500.0,2009-12-01,1996-01-01,01 TO 03,702,86,702 WOODLANDS DR 40,702 WOODLANDS DRIVE 40 HDB PUBLIC SHELTERS SIN...,1.441524,103.796664,admiralty,0.492,4 ROOM Model A,730702,North
240618,BUKIT BATOK,4 ROOM,Simplified,84.0,BT BATOK ST 32,304000.0,2019-10-01,1987-01-01,01 TO 03,310,66 years 04 months,310 BT BATOK ST 32,310 BUKIT BATOK STREET 32 SINGAPORE 650310,1.359641,103.748829,bukit gombak,0.349,4 ROOM Simplified,650310,West
414569,TAMPINES,4 ROOM,Model A,104.0,TAMPINES ST 71,441000.0,2011-08-01,1997-01-01,04 TO 06,725,85,725 TAMPINES ST 71,725 TAMPINES STREET 71 PCF SPARKLETOTS PRESCHO...,1.356985,103.935335,tampines,1.165,4 ROOM Model A,520725,East
596264,TOA PAYOH,4 ROOM,Model A,93.0,UPP ALJUNIED LANE,720000.0,2021-10-01,2017-01-01,10 TO 12,7,94 years 05 months,7 UPP ALJUNIED LANE,7 UPPER ALJUNIED LANE JOO SENG GREEN SINGAPORE...,1.334715,103.878708,bartley,0.881,4 ROOM Model A,360007,East
545453,PUNGGOL,5 ROOM,Improved,110.0,PUNGGOL FIELD,445000.0,2018-07-01,2003-01-01,07 TO 09,173A,84 years 06 months,173A PUNGGOL FIELD,173A PUNGGOL FIELD SINGAPORE 821173,1.397013,103.909354,meridian,0.046,5 ROOM Improved,821173,North

In [26]:
# Iterate through each unqiue Street Name as a proxy for the lat & long of the hdb unit
# Calculate the average rating for each POI archetype
for index, hdb_unit in street_avg_coords.iterrows():
    hdb_lng = hdb_unit['avg_long']
    hdb_lat = hdb_unit['avg_lat']

    healthcare_within_1km_count = 0
    recreational_within_1km_count = 0
    education_within_1km_count = 0
    healthcare_within_2km_count = 0
    recreational_within_2km_count = 0
    education_within_2km_count = 0
    healthcare_within_1km_average_rating = 0
    recreational_within_1km_average_rating = 0
    education_within_1km_average_rating = 0
    healthcare_within_2km_average_rating = 0
    recreational_within_2km_average_rating = 0
    education_within_2km_average_rating = 0
    
    # Count healthcare within 1km radius
    healthcare_within_1km_count, healthcare_within_1km_average_rating = count_pois_within_radius(hdb_lng, hdb_lat, data_poi_filtered,
                                                                                                 'Healthcare', 1) 
    # Count recreational areas within 1km radius
    recreational_within_1km_count, recreational_within_1km_average_rating = count_pois_within_radius(hdb_lng, hdb_lat, data_poi_filtered,
                                                                                                     'Recreational', 1)
    # Count educational instituitions within 1km radius
    education_within_1km_count, education_within_1km_average_rating = count_pois_within_radius(hdb_lng, hdb_lat, data_poi_filtered,
                                                                                               'Education', 1)
    # Count healthcare within 2km radius
    healthcare_within_2km_count, healthcare_within_2km_average_rating = count_pois_within_radius(hdb_lng, hdb_lat, data_poi_filtered,
                                                                                                 'Healthcare', 2) 
    # Count recreational areas within 1km radius
    recreational_within_2km_count, recreational_within_2km_average_rating = count_pois_within_radius(hdb_lng, hdb_lat, data_poi_filtered,
                                                                                                     'Recreational', 2)
    # Count educational instituitions within 1km radius
    education_within_2km_count, education_within_2km_average_rating = count_pois_within_radius(hdb_lng, hdb_lat, data_poi_filtered,
                                                                                               'Education', 2)
    
    # Add the recreational_count and school_count columns to the original hdb dataset
    street_avg_coords.loc[index, 'healthcare_within_1km_count'] = healthcare_within_1km_count
    street_avg_coords.loc[index, 'healthcare_within_1km_average_rating'] = healthcare_within_1km_average_rating
    
    street_avg_coords.loc[index, 'recreational_within_1km_count'] = recreational_within_1km_count
    street_avg_coords.loc[index, 'recreational_within_1km_average_rating'] = recreational_within_1km_average_rating
    
    street_avg_coords.loc[index, 'education_within_1km_count'] = education_within_1km_count
    street_avg_coords.loc[index, 'education_within_1km_average_rating'] = education_within_1km_average_rating
    
    street_avg_coords.loc[index, 'healthcare_within_2km_count'] = healthcare_within_2km_count
    street_avg_coords.loc[index, 'healthcare_within_2km_average_rating'] = healthcare_within_2km_average_rating
    
    street_avg_coords.loc[index, 'recreational_within_2km_count'] = recreational_within_2km_count
    street_avg_coords.loc[index, 'recreational_within_2km_average_rating'] = recreational_within_2km_average_rating
    
    street_avg_coords.loc[index, 'education_within_2km_count'] = education_within_2km_count
    street_avg_coords.loc[index, 'education_within_2km_average_rating'] = education_within_2km_average_rating

street_avg_coords

,street_name,avg_long,avg_lat,healthcare_within_1km_count,healthcare_within_1km_average_rating,recreational_within_1km_count,recreational_within_1km_average_rating,education_within_1km_count,education_within_1km_average_rating,healthcare_within_2km_count,healthcare_within_2km_average_rating,recreational_within_2km_count,recreational_within_2km_average_rating,education_within_2km_count,education_within_2km_average_rating
0,ADMIRALTY DR,103.815851,1.450018,1.0,3.800000,3.0,3.733333,4.0,4.275000,2.0,3.900000,6.0,3.916667,8.0,4.250000
1,ADMIRALTY LINK,103.816254,1.455540,1.0,3.800000,3.0,3.733333,2.0,4.100000,1.0,3.800000,4.0,3.800000,5.0,4.140000
2,AH HOOD RD,103.844667,1.327701,48.0,3.147917,12.0,4.016667,4.0,4.425000,87.0,2.542529,16.0,3.962500,23.0,4.160870
3,ALJUNIED AVE 2,103.886335,1.319203,9.0,1.333333,6.0,4.016667,8.0,4.187500,23.0,1.708696,15.0,3.973333,15.0,4.173333
4,ALJUNIED CRES,103.884427,1.320423,7.0,1.714286,2.0,4.300000,6.0,4.100000,22.0,1.722727,15.0,3.973333,14.0,4.107143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,YUNG KUANG RD,103.721629,1.331872,1.0,3.300000,2.0,4.250000,2.0,4.300000,11.0,1.745455,4.0,4.375000,9.0,4.066667
562,YUNG LOH RD,103.722128,1.328313,1.0,3.300000,2.0,4.250000,2.0,4.300000,3.0,1.100000,4.0,4.350000,4.0,4.025000
563,YUNG PING RD,103.722079,1.329695,1.0,3.300000,2.0,4.250000,2.0,4.300000,7.0,1.828571,3.0,4.366667,6.0,4.033333
564,YUNG SHENG RD,103.721681,1.333492,1.0,3.300000,2.0,4.250000,3.0,4.033333,14.0,2.271429,5.0,4.300000,9.0,4.066667
565,ZION RD,103.832608,1.290660,8.0,1.850000,7.0,4.057143,3.0,2.700000,183.0,2.669399,78.0,4.052564,25.0,3.348000

In [37]:
# Merge counts to dataset
data_hdb_last15 = pd.merge(street_avg_coords, data_hdb_last15, on='street_name', how='left')

# Rearrange columns
cols = data_hdb_last15.columns.tolist()
data_hdb_last15 = data_hdb_last15[['town', 'flat_type', 'flat_model', 'floor_area_sqm', 'resale_price', 'month', 'lease_commence_date',
 'storey_range', 'block', 'remaining_lease', 'address', 'full_address', 'lat', 'long', 'nearest_mrt', 'nearest_distance_to_mrt',
 'flat_category', 'street_name', 'avg_long', 'avg_lat', 'healthcare_within_1km_count', 'healthcare_within_1km_average_rating', 
                                   'healthcare_within_2km_count','healthcare_within_2km_average_rating',
                                   'recreational_within_1km_count', 'recreational_within_1km_average_rating',
                                   'recreational_within_2km_count', 'recreational_within_2km_average_rating',
                                   'education_within_1km_count', 'education_within_1km_average_rating',
                                   'education_within_2km_count', 'education_within_2km_average_rating',
                                   'postal_code','Region']]
data_hdb_last15

,town,flat_type,flat_model,floor_area_sqm,resale_price,month,lease_commence_date,storey_range,block,remaining_lease,...,recreational_within_1km_count,recreational_within_1km_average_rating,recreational_within_2km_count,recreational_within_2km_average_rating,education_within_1km_count,education_within_1km_average_rating,education_within_2km_count,education_within_2km_average_rating,postal_code,Region
0,SEMBAWANG,5 ROOM,Premium Apartment,111.0,362000.0,2009-07-01,2001-01-01,04 TO 06,357A,91,...,3.0,3.733333,6.0,3.916667,4.0,4.275,8.0,4.250,751357,North
1,SEMBAWANG,5 ROOM,Premium Apartment,110.0,370000.0,2009-08-01,2001-01-01,07 TO 09,357A,91,...,3.0,3.733333,6.0,3.916667,4.0,4.275,8.0,4.250,751357,North
2,SEMBAWANG,5 ROOM,Premium Apartment,110.0,403000.0,2010-01-01,2001-01-01,16 TO 18,357A,90,...,3.0,3.733333,6.0,3.916667,4.0,4.275,8.0,4.250,751357,North
3,SEMBAWANG,4 ROOM,Premium Apartment,95.0,350000.0,2010-07-01,2001-01-01,01 TO 03,357A,90,...,3.0,3.733333,6.0,3.916667,4.0,4.275,8.0,4.250,751357,North
4,SEMBAWANG,4 ROOM,Premium Apartment,95.0,399000.0,2010-07-01,2001-01-01,10 TO 12,357A,90,...,3.0,3.733333,6.0,3.916667,4.0,4.275,8.0,4.250,751357,North
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325965,BUKIT MERAH,5 ROOM,Improved,114.0,921000.0,2022-10-01,1974-01-01,13 TO 15,87,50 years 09 months,...,7.0,4.057143,78.0,4.052564,3.0,2.700,25.0,3.348,160087,South
325966,BUKIT MERAH,5 ROOM,Improved,117.0,930000.0,2022-10-01,1974-01-01,04 TO 06,87,50 years 09 months,...,7.0,4.057143,78.0,4.052564,3.0,2.700,25.0,3.348,160087,South
325967,BUKIT MERAH,5 ROOM,Improved,117.0,978000.0,2022-12-01,1974-01-01,13 TO 15,87,50 years 08 months,...,7.0,4.057143,78.0,4.052564,3.0,2.700,25.0,3.348,160087,South
325968,BUKIT MERAH,5 ROOM,Improved,114.0,950000.0,2022-12-01,1974-01-01,22 TO 24,87,50 years 07 months,...,7.0,4.057143,78.0,4.052564,3.0,2.700,25.0,3.348,160087,South
325969,BUKIT MERAH,5 ROOM,Improved,117.0,888000.0,2023-01-01,1974-01-01,04 TO 06,87,50 years 06 months,...,7.0,4.057143,78.0,4.052564,3.0,2.700,25.0,3.348,160087,South

In [28]:
# Check Merged Dataset
#data_hdb_last15.sample(10)
data_hdb_last15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325970 entries, 0 to 325969
Data columns (total 28 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   town                           325970 non-null  object
 1   flat_type                      325970 non-null  object
 2   flat_model                     325970 non-null  object
 3   floor_area_sqm                 325970 non-null  float64
 4   resale_price                   325970 non-null  float64
 5   month                          325970 non-null  datetime64[ns]
 6   lease_commence_date            325970 non-null  datetime64[ns]
 7   storey_range                   325970 non-null  object
 8   block                          325970 non-null  object
 9   remaining_lease                325970 non-null  object
 10  address                        325970 non-null  object
 11  full_address                   325970 non-null  object
 12  lat                            325970 non-null  float64
 13  long                           325970 non-null  float64
 14  nearest_mrt                    325970 non-null  object
 15  nearest_distance_to_mrt        325970 non-null  float64
 16  flat_category                  325970 non-null  object
 17  street_name                    325970 non-null  object
 18  avg_long                       325970 non-null  float64
 19  avg_lat                        325970 non-null  float64
 20  healthcare_within_1km_count    325970 non-null  float64
 21  healthcare_within_2km_count    325970 non-null  float64
 22  recreational_within_1km_count  325970 non-null  float64
 23  recreational_within_2km_count  325970 non-null  float64
 24  education_within_1km_count     325970 non-null  float64
 25  education_within_2km_count     325970 non-null  float64
 26  postal_code                    325970 non-null  object
 27  Region                         325970 non-null  object
dtypes: datetime64[ns](2), float64(13), object(13)
memory usage: 69.6+ MB

### Saving Dataset

In [38]:
# Save Merged Dataset
data_hdb_last15.to_csv('../dataset/hdb_last15_merged', index = False)