# HDB Resale Price Prediction

## Machine Learning Modelling

### Import Libraries

In [3]:
# General
import math
import random
random.seed(42)
import pickle
import numpy as np
import pandas as pd
from datetime import datetime

# Visualisation
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme(style="whitegrid")
colour_palette = sns.color_palette("hls", 8)

# Pre-Processing
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler      # Remove Mean and scale to Unit Variance
from sklearn.preprocessing import PowerTransformer    # Log Transformation
from sklearn.preprocessing import OneHotEncoder

# Feature Engineering
from sklearn.decomposition import PCA
from sklearn.feature_selection import VarianceThreshold
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import RFE

# Evaluation Metrics
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error

# Validation
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate

# Modelling
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import ElasticNet
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
# from lightgbm import LGBMRegressor
# import lightgbm as ltb
import catboost as cb

# Hyperparameter Tuning
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

# Warnings
import warnings
warnings.filterwarnings('ignore')

### Import Dataset

In [7]:
# Importing Data
data_hdb_cleaned = pd.read_csv('../dataset/hdb_last15_cleaned.csv')
data_hdb_cleaned.index += 1
data_hdb_cleaned

,town,flat_type,flat_model,floor_area_sqm,resale_price,month,lease_commence_date,storey_range,block,remaining_lease,...,recreational_within_1km_average_rating,recreational_within_2km_count,recreational_within_2km_average_rating,education_within_1km_count,education_within_1km_average_rating,education_within_2km_count,education_within_2km_average_rating,postal_code,region,price_per_sqm
1,SEMBAWANG,5 ROOM,Premium Apartment,111.0,362000.0,2009-07-01,2001,04 TO 06,357A,91.000000,...,3.733333,6.0,3.916667,4.0,4.275,8.0,4.250,751357,North,3261.261261
2,SEMBAWANG,5 ROOM,Premium Apartment,110.0,370000.0,2009-08-01,2001,07 TO 09,357A,91.000000,...,3.733333,6.0,3.916667,4.0,4.275,8.0,4.250,751357,North,3363.636364
3,SEMBAWANG,5 ROOM,Premium Apartment,110.0,403000.0,2010-01-01,2001,16 TO 18,357A,90.000000,...,3.733333,6.0,3.916667,4.0,4.275,8.0,4.250,751357,North,3663.636364
4,SEMBAWANG,4 ROOM,Premium Apartment,95.0,350000.0,2010-07-01,2001,01 TO 03,357A,90.000000,...,3.733333,6.0,3.916667,4.0,4.275,8.0,4.250,751357,North,3684.210526
5,SEMBAWANG,4 ROOM,Premium Apartment,95.0,399000.0,2010-07-01,2001,10 TO 12,357A,90.000000,...,3.733333,6.0,3.916667,4.0,4.275,8.0,4.250,751357,North,4200.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316854,BUKIT MERAH,5 ROOM,Improved,114.0,921000.0,2022-10-01,1974,13 TO 15,87,50.750000,...,4.057143,78.0,4.052564,3.0,2.700,25.0,3.348,160087,South,8078.947368
316855,BUKIT MERAH,5 ROOM,Improved,117.0,930000.0,2022-10-01,1974,04 TO 06,87,50.750000,...,4.057143,78.0,4.052564,3.0,2.700,25.0,3.348,160087,South,7948.717949
316856,BUKIT MERAH,5 ROOM,Improved,117.0,978000.0,2022-12-01,1974,13 TO 15,87,50.666667,...,4.057143,78.0,4.052564,3.0,2.700,25.0,3.348,160087,South,8358.974359
316857,BUKIT MERAH,5 ROOM,Improved,114.0,950000.0,2022-12-01,1974,22 TO 24,87,50.583333,...,4.057143,78.0,4.052564,3.0,2.700,25.0,3.348,160087,South,8333.333333
316858,BUKIT MERAH,5 ROOM,Improved,117.0,888000.0,2023-01-01,1974,04 TO 06,87,50.500000,...,4.057143,78.0,4.052564,3.0,2.700,25.0,3.348,160087,South,7589.743590

In [8]:
# Understanding Data I
data_hdb_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316858 entries, 1 to 316858
Data columns (total 35 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   town                                    316858 non-null  object
 1   flat_type                               316858 non-null  object
 2   flat_model                              316858 non-null  object
 3   floor_area_sqm                          316858 non-null  float64
 4   resale_price                            316858 non-null  float64
 5   month                                   316858 non-null  object
 6   lease_commence_date                     316858 non-null  int64
 7   storey_range                            316858 non-null  object
 8   block                                   316858 non-null  object
 9   remaining_lease                         316858 non-null  float64
 10  address                                 316858 non-null  object
 11  full_address                            316858 non-null  object
 12  lat                                     316858 non-null  float64
 13  long                                    316858 non-null  float64
 14  nearest_mrt                             316858 non-null  object
 15  nearest_distance_to_mrt                 316858 non-null  float64
 16  flat_category                           316858 non-null  object
 17  street_name                             316858 non-null  object
 18  avg_long                                316858 non-null  float64
 19  avg_lat                                 316858 non-null  float64
 20  healthcare_within_1km_count             316858 non-null  float64
 21  healthcare_within_1km_average_rating    316858 non-null  float64
 22  healthcare_within_2km_count             316858 non-null  float64
 23  healthcare_within_2km_average_rating    316858 non-null  float64
 24  recreational_within_1km_count           316858 non-null  float64
 25  recreational_within_1km_average_rating  316858 non-null  float64
 26  recreational_within_2km_count           316858 non-null  float64
 27  recreational_within_2km_average_rating  316858 non-null  float64
 28  education_within_1km_count              316858 non-null  float64
 29  education_within_1km_average_rating     316858 non-null  float64
 30  education_within_2km_count              316858 non-null  float64
 31  education_within_2km_average_rating     316858 non-null  float64
 32  postal_code                             316858 non-null  object
 33  region                                  316858 non-null  object
 34  price_per_sqm                           316858 non-null  float64
dtypes: float64(21), int64(1), object(13)
memory usage: 84.6+ MB

In [9]:
# Understanding Data II
data_hdb_cleaned.describe()

,floor_area_sqm,resale_price,lease_commence_date,remaining_lease,lat,long,nearest_distance_to_mrt,avg_long,avg_lat,healthcare_within_1km_count,...,healthcare_within_2km_average_rating,recreational_within_1km_count,recreational_within_1km_average_rating,recreational_within_2km_count,recreational_within_2km_average_rating,education_within_1km_count,education_within_1km_average_rating,education_within_2km_count,education_within_2km_average_rating,price_per_sqm
count,316858.000000,3.168580e+05,316858.00000,316858.000000,316858.000000,316858.000000,316858.000000,316858.000000,316858.000000,316858.000000,...,316858.000000,316858.000000,316858.000000,316858.000000,316858.000000,316858.000000,316858.000000,316858.000000,316858.000000,316858.000000
mean,97.479359,4.412566e+05,1991.72968,75.267866,1.365842,103.838676,0.624044,103.838680,1.365844,5.988376,...,2.560450,3.837429,3.928042,11.887855,4.055404,4.855336,4.037460,14.403837,4.095730,4581.617630
std,24.742062,1.467689e+05,11.84791,11.684112,0.042881,0.072799,0.378055,0.072687,0.042815,5.242842,...,0.600599,3.054143,0.688451,8.638953,0.134527,2.244488,0.574591,4.698377,0.183904,1181.663412
min,31.000000,1.270000e+05,1966.00000,43.000000,1.270380,103.644248,0.023000,103.688247,1.272255,0.000000,...,0.800000,0.000000,0.000000,2.000000,3.577778,0.000000,0.000000,2.000000,2.786667,1445.920000
25%,74.000000,3.360000e+05,1984.00000,66.000000,1.336264,103.774173,0.337000,103.774336,1.336320,3.000000,...,2.292857,2.000000,3.933333,8.000000,3.983333,3.000000,3.975000,12.000000,3.994737,3798.076923
50%,97.000000,4.150000e+05,1989.00000,75.000000,1.362565,103.844027,0.552000,103.844611,1.362350,5.000000,...,2.550000,3.000000,4.050000,10.000000,4.075000,5.000000,4.133333,14.000000,4.130000,4368.932039
75%,113.000000,5.150000e+05,2000.00000,85.000000,1.392710,103.898351,0.828000,103.898503,1.391577,8.000000,...,2.800000,5.000000,4.150000,13.000000,4.136364,6.000000,4.266667,17.000000,4.205263,5074.626866
max,280.000000,1.418000e+06,2018.00000,94.916667,1.457071,103.964915,2.154000,103.962400,1.455540,61.000000,...,4.900000,41.000000,4.700000,105.000000,4.380000,19.000000,5.000000,37.000000,4.500000,14731.182796

### Split Training & Testing Dataset

In [10]:
# Dependent Variable
target_list = ['resale_price']

# Independent Variables
feature_list = ['flat_type', 'floor_area_sqm', 'month', 'lease_commence_date', 'storey_range', 'remaining_lease',
                'nearest_distance_to_mrt', 'healthcare_within_1km_count', 'healthcare_within_1km_average_rating', 
                'healthcare_within_2km_count', 'healthcare_within_2km_average_rating', 'recreational_within_1km_count', 
                'recreational_within_1km_average_rating', 'recreational_within_2km_count', 'recreational_within_2km_average_rating', 
                'education_within_1km_count', 'education_within_1km_average_rating', 'education_within_2km_count',
                'education_within_2km_average_rating', 'region', 'price_per_sqm']

print(feature_list)

# Selecting Target Variable and Features from Dataset
X = data_hdb_cleaned[feature_list]
y = data_hdb_cleaned[target_list]

['town', 'flat_type', 'floor_area_sqm', 'month', 'lease_commence_date', 'storey_range', 'remaining_lease', 'nearest_distance_to_mrt', 'healthcare_within_1km_count', 'healthcare_within_1km_average_rating', 'healthcare_within_2km_count', 'healthcare_within_2km_average_rating', 'recreational_within_1km_count', 'recreational_within_1km_average_rating', 'recreational_within_2km_count', 'recreational_within_2km_average_rating', 'education_within_1km_count', 'education_within_1km_average_rating', 'education_within_2km_count', 'education_within_2km_average_rating', 'region', 'price_per_sqm']

In [11]:
# Split Training & Testing Dataset (80:20 Split)
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, test_size=0.2, random_state=42)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(253486, 22) (63372, 22) (253486, 1) (63372, 1)

In [12]:
# Reset Indexes
X_train = X_train.reset_index(drop=True)
X_test = X_test.reset_index(drop=True)
y_train = y_train.reset_index(drop=True)
y_test = y_test.reset_index(drop=True)

### Data Preprocessing

#### Data Cleaning

In [13]:
# Check Missing Data
X_train.isnull().sum()[X_train.isnull().sum() > 0]
X_test.isnull().sum()[X_test.isnull().sum() > 0]

Series([], dtype: int64)

In [14]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253486 entries, 0 to 253485
Data columns (total 22 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   town                                    253486 non-null  object
 1   flat_type                               253486 non-null  object
 2   floor_area_sqm                          253486 non-null  float64
 3   month                                   253486 non-null  object
 4   lease_commence_date                     253486 non-null  int64
 5   storey_range                            253486 non-null  object
 6   remaining_lease                         253486 non-null  float64
 7   nearest_distance_to_mrt                 253486 non-null  float64
 8   healthcare_within_1km_count             253486 non-null  float64
 9   healthcare_within_1km_average_rating    253486 non-null  float64
 10  healthcare_within_2km_count             253486 non-null  float64
 11  healthcare_within_2km_average_rating    253486 non-null  float64
 12  recreational_within_1km_count           253486 non-null  float64
 13  recreational_within_1km_average_rating  253486 non-null  float64
 14  recreational_within_2km_count           253486 non-null  float64
 15  recreational_within_2km_average_rating  253486 non-null  float64
 16  education_within_1km_count              253486 non-null  float64
 17  education_within_1km_average_rating     253486 non-null  float64
 18  education_within_2km_count              253486 non-null  float64
 19  education_within_2km_average_rating     253486 non-null  float64
 20  region                                  253486 non-null  object
 21  price_per_sqm                           253486 non-null  float64
dtypes: float64(16), int64(1), object(5)
memory usage: 42.5+ MB

In [ ]:
# Change Data Types

## For Month

#### Data Transformation

In [ ]:
# DT Methods i.e. StandardScaler, PowerTransformer

### Feature Engineering

#### Encoding

In [ ]:
# Encode using OneHot

## For flat_type


## For storey_range


## For region

### Feature Extraction

In [ ]:
# Principal Component Analysis

### Feature Selection

In [ ]:
# Heatmap

In [ ]:
# FS Methods i.e. Variance Threshold, KBest, RFE

## Machine Learning Modelling